/* ==========================================================================
 1. CONFIGURAÇÕES GLOBAIS E FONTES
 ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Public+Sans:wght@400;500&display=swap');

:root {
  --cor-fundo: #FAF8F1;         
  --cor-cabecalho: #00509D;       
  --cor-texto-principal: #212529; 
  --cor-destaque: #00509D;       
  --cor-bordas: #DEDBD2;         
  
  --fonte-titulo: "Poppins", sans-serif;
  --fonte-texto: "Public Sans", sans-serif;

  --tamanho-texto: clamp(1rem, 4vw, 1.5rem);
  --tamanho-link: clamp(0.2rem, 4vw, 1.25rem);
  --tamanho-subtitulo: clamp(1.40rem, 4vw, 1.92rem);
  --tamnho-titulo:clamp(1.80rem, 4vw, 2.30rem);
  
  --espaco-sm: 0.5rem;
  --espaco-md: 1rem;
  --espaco-lg: 1.5rem;
  --espaco-xl: 2.6rem;
  --espaco-ti: 3.2rem;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
 background-color: var(--cor-fundo);
 color: var(--cor-texto-principal); 
 min-height: 100vh;
}

.Body_config {
 background-color: var(--cor-cabecalho); 
 color: var(--cor-texto-principal); 
 min-height: 100vh;
}

/* ==========================================================================
 2. PADRONIZAÇÃO DE TÍTULOS
 ========================================================================== */

.teste_conteudo__conteudo__titulo,
.Projeto_titulo,
.titulo_desenvolvedores,
.Configurações_titulo {
 font-family: var(--fonte-titulo);
 font-weight: 400;
 line-height: 1.3;
 font-size: 1.7rem;
 color: var(--cor-destaque);
 text-align: center;
 padding: var(--espaco-xl);
 margin-bottom: var(--espaco-xl);
}

.Configurações_titulo {
 margin: 0rem;
 padding: 0rem;
}

.nome-desenvolvedor {
 font-family: var(--fonte-titulo);
 font-weight: 400;
 font-size: var(--tamanho-subtitulo);
 color: var(--cor-texto-principal); 
 margin: 0rem;
 margin-top: 2.8rem;
}

.apresentacao__links__subtitulo {
 font-family: var(--fonte-titulo);
 font-weight: 400;
 font-size: clamp(1.25rem, 5vw, 1.5rem);
 color: var(--cor-texto-principal); 
 text-align: center;
}

/* ==========================================================================
 3. CABEÇALHO (HEADER) 
 ========================================================================== */
.cabeçalho {
  background-color: var(--cor-cabecalho); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--cor-destaque);
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
}

.cabeçalho__menu-hamburguer,
.cabeçalho__menu__config {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0;
  margin: 1rem;
}

.cabeçalho__menu-hamburguer {
  background-image: url("../assets/Menu-aberto.svg");
  background-size: contain;
  width: 24px;
  height: 24px;
}

.cabeçalho__menu-hamburguer:hover {
  transform: scale(1.10);
}

.container {
  display: flex;
  align-items: center;
}

.container__imagem {
  padding: 1em;
  width: 100%;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
}

.container__botao:checked~.lista-menu {
  display: block;
}

.lista-menu__titulo, .lista-menu__item {
 padding: 1rem;
 font-family: var(--fonte-texto);
 background-color: var(--cor-fundo); /* Alterado */
 color: var(--cor-texto-principal); /* Alterado */
}

.lista-menu__titulo { 
 color: var(--cor-destaque);
 font-size: var(--tamanho-link);
 font-weight: 500;
}

.container__botao {
 opacity: 0; 
 position: absolute; 
 width: 24px;
 height: 24px; 
 z-index: 1; 
}

/* pesquisa do usario*/

.form-pesquisa {
  display: flex;
  align-items: center;
  background-color: var(--cor-fundo); 
  border: 1px solid var(--cor-bordas); /* Alterado */
  border-radius: 20px; 
  overflow: hidden;
  width: 100%;
  transition: all 0.3s ease;
  margin-left: 2rem;
  margin-right: 1rem;
  padding: 0.5rem;
}

.input-pesquisa {
  border: none;
  background: transparent;
  flex-grow: 1; 
  padding: 0.75em 1em; 
  font-family: var(--fonte-texto);
  font-size: 0.6rem;
  color: var(--cor-destaque); 
}

.input-pesquisa:focus {
  outline: none;
}

.botao-pesquisa {
  width: 8%;
  height: 10%;
  border-radius: 100px; 
  background: transparent; 
  padding: 1%;
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--cor-destaque); 
  background-color: var(--cor-cabecalho);
}

.form-pesquisa:focus-within {
  border-color: var(--cor-destaque);
  box-shadow: 0 0 5px rgba(0, 80, 157, 0.2); /* Alterado para a cor do novo destaque */
}


 /*======================================================
 4. CONTEÚDO PRINCIPAL (MAIN)
 ========================================================================== */

.teste_conteudo {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 0 5%;
}

.conteudo_principal_wrapper {
 width: 100%;
 display: flex;
 flex-direction: column-reverse;
 align-items: center;
 justify-content: space-between;
 gap: 2.5rem;
 margin-top: var(--espaco-xl);
}

.teste_conteudo__conteudo {
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: var(--espaco-lg);
 text-align: justify;
 padding: var(--espaco-xl);
 font-family: var(--fonte-texto);
 font-size: var(--tamanho-texto);
}

.negrito1 { color: var(--cor-destaque); }

.logo_Site {
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 width: 100%;
 min-height: 400px; 
}

/* ===========================================================
 PARTE EXCLUSIVA DO ARQUIVO Desenvolvedores_index.html
 =============================================================*/
.slider {
 width: 95vw; 
 height: 56vh; 
 margin-top: 0rem;
 overflow: hidden;
 position: relative;
 border-radius: 10px;
 box-shadow: 0 
}

.slides {
 width: 600%; 
 height: 100%; 
 display: flex;
 transition: margin-left 0.6s ease-in-out;
}

.slide {
 width: 16.66667%;
 height: 100%; 
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 0.5rem; 
 margin-top: 1rem;
}

.slides input {
 display: none;
}

.slide-img {
 width: 300px;
 height: 300px;
 object-fit: cover;
 border: 0.2rem solid #000000; 
 box-shadow: #000000
}

.manual-navigation, .navigation-auto {
 position: absolute;
 width: 100%;
 bottom: 30px;
 left: 50%;
 transform: translateX(-50%);
 display: flex;
 justify-content: center;
 z-index: 10;
}

.manual-btn {
 border: 2px solid var(--cor-texto-principal); 
 padding: 8px;
 border-radius: 50%;
 cursor: pointer;
 transition: 0.5s;
}

.manual-btn:not(:last-child) {
 margin-right: 30px;
}

.manual-btn:hover {
 background-color:#ffffff; 
}

.navigation-auto div {
 border: 2px solid var(--cor-texto-principal); 
 padding: 8px;
 border-radius: 50%;
}

.navigation-auto div:not(:last-child) {
  margin-right: 30px;
}

/* Regras de destaque e movimento */
#radio1:checked ~ .first {
 margin-left: 0%;
}
#radio2:checked ~ .first {
 margin-left: -16.66667%;
}
#radio3:checked ~ .first {
 margin-left: -33.33333%;
}
#radio4:checked ~ .first {
 margin-left: -50%;
}
#radio5:checked ~ .first {
 margin-left: -66.66667%;
}
#radio6:checked ~ .first {
 margin-left: -83.33333%;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4,
#radio5:checked ~ .navigation-auto .auto-btn5,
#radio6:checked ~ .navigation-auto .auto-btn6 {
  background-color: #ffffff; 
}

/* ===========================================================
 PARTE EXCLUSIVA DO ARQUIVO Sobre_projeto.html
 =============================================================*/

 .Projeto_conteudo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.2rem;
  margin-top: var(--espaco-xl);
 }

 .Projeto_conteudo_subtitulo,
 .Explicação_projeto_titulo,
 .ODS_titulo  {
  font-family: var(--fonte-titulo);
  font-weight: 100;
  font-size: var(--tamanho-subtitulo);
  color: var(--cor-texto-principal); 
  margin: 1rem;
  margin-left: 4%;
 }

 .Projeto_conteudo_paragrafo,
 .Projeto_paragrafo_video,
 .Projeto_explicação_conteudo,
 .ODS_conteudo_paragrafo {
  font-family: var(--fonte-texto);
  font-size: var(--tamanho-texto);
  margin-bottom: 4%;
  margin-top: 0.4rem;
 }

 .Projeto_conteudo_paragrafo,
 .Projeto_explicação_conteudo,
 .ODS_conteudo_paragrafo {
  margin-left:6%;
  margin-right:6%;
 }

 .Video-section {
  display: flex ;
  flex-direction: column;
  margin: 5%;
 }

 .Projeto_conteudo_video {
  font-family: var(--fonte-texto);
  font-size: var(--tamanho-subtitulo);
  margin: 1rem;
  margin-left: 0%;
  margin-top: 1rem;
  margin-bottom: 0%;
  justify-content: center;
 }

  .container-video {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
 }

 .Projeto_video {
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  margin-left: 0%;
  border: 0.2rem solid #000000; 
 }

 .Projeto_video:hover {
    transform: scale(1.10);
  }

  .Projeto_paragrafo_video {
    width: 100%;
    margin: 1rem;
    margin-bottom: 2rem;
    margin-top: 5%;
    justify-content: center;
 }

 .Explicação_projeto {
    gap: 2rem;
 }
 
  .Projeto_explicação_conteudo {
    margin-top: 4%;
  }
 
 .ODS {
  gap: 2rem;
 }

 .ODS_titulo {
  margin-bottom: 4%;
 }
  
 .Imagem_ODS,
 .Imagem_ODS9  {
  width:85%;
  border: 0.2rem solid #000000;
  margin-left:6%;
  margin-right:6%;
  margin-top: 4%;
  margin-bottom:4% ;
 }

/* ==========================================================================
 6. RODAPÉ (FOOTER)
 ========================================================================== */

.rodape {
 padding: var(--espaco-lg);
 color: var(--cor-texto-principal); 
 background-color: var(--cor-fundo);
 text-align: center;
 font-family: var(--fonte-texto);
 margin-top: 6rem;
}

.rodape_config {
 padding: var(--espaco-lg);
 background-color: var(--cor-cabecalho); 
 text-align: center;
 font-family: var(--fonte-texto);
 margin-top: 6rem;
}

.apresentacao__links {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: var(--espaco-xl);
 padding: var(--espaco-xl) var(--espaco-md);
}

.apresentacao__links__link {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 max-width: 200px;
 padding: 0.75rem 0;
 border-radius: 1.5rem;
 background-color: var(--cor-destaque); /* Alterado */
 color: var(--cor-fundo); /* Alterado para contraste */
 text-decoration: none;
 font-family: var(--fonte-titulo);
 font-size: 1rem;
 font-weight: 400;
 transition: transform 0.3s ease;
}

.apresentacao__links__link:hover { transform: scale(1.08); }

/* ==========================================================================
 7. MEDIA QUERIES 
 ========================================================================== */

@media (min-width: 769px) {

 /* ==========================================================================
 Titulos
 ========================================================================== */

.teste_conteudo__conteudo__titulo,
.Projeto_titulo,
.titulo_desenvolvedores,
.Configurações_titulo {
 font-size: 2.20rem;
}

/* ==========================================================================
 . CABEÇALHO (HEADER) 
 ========================================================================== */
/* pesquisa do usario*/
.form-pesquisa {
  margin-left: 18rem;
  margin-right: 40rem;
}

.input-pesquisa {
  font-size: 1.1rem;
}

.form-pesquisa {
  padding: 0.01rem;
}

.cabeçalho__menu__config {
  margin-right: 3rem;
}

/*. CONTEÚDO PRINCIPAL (MAIN)*/
 
 .conteudo_principal_wrapper { 
  flex-direction: row;
  margin-left: 0;
  padding-left: 0;
  gap: var(--espaco-lg);
 }

 .teste_conteudo__conteudo {
  width: 50%;
  text-align: left;
 }

 .logo_Site {
  width: 60%;
  min-height: 750px;
  background-size: auto 100%;
  background-position: right left; 
  padding-right: 10px;
  border: 0.2rem solid #000000; 
  mask-image: linear-gradient(to left, black 20%, transparent 50%);
  -webkit-mask-image: linear-gradient(to left, black 20%, transparent 99.9%);
 }
 .apresentacao__links { padding: 4rem 2rem; }

 .rodape { margin-top: 12rem; }

 /*PARTE EXCLUSIVA DO ARQUIVO Sobre_projeto.html*/

.container-video {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 4%;
 }

 .Projeto_video {
  justify-content: center;
  width: 65%;
  margin-top: 3rem;
  margin-left: 5%;
  border: 0.2rem solid #000000; 
 }

  .Projeto_paragrafo_video {
    width: 50%;
    margin: 1rem;
    margin-bottom: 2rem;
    margin-top: 5%;
    justify-content: center;
 }

  .Projeto_conteudo_video {
  margin-left: 22%;
 }
/* PARTE EXCLUSIVA DE DESENVOLVEDORES*/

 .desenvolvedor-card { flex-direction: row; text-align: left; }

 .imagem-desenvolvedor { width: 300px; height: 300px; }

.slider {
 height: 86vh;
 margin: 2rem auto;
 width: 94vw;
}

.slide {
 gap: 1.5rem;
}

.slide-img {
 width: 40%;
 height: 100%;
}

}


@media (min-width: 1024px) {
 .teste_conteudo { padding: 0 5% }

 .conteudo_principal_wrapper { 
  gap: var(--espaco-lg);
 }

 .apresentacao__links {
  flex-direction: row;
  justify-content: center;
 }
}